.container {
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    flex-wrap: wrap;
    gap: 2em;

}

.container img {
    height: auto;
    width: auto;
    max-height: 210px;
    max-width: 420px;
}