.cardsContainerHome {
    width: 80vw;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 3em;
    margin-top: 220px;
} 

.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3rem;
}

.containerPaginado {
    display: flex;
    justify-content: center;
    margin-top: 0;
}

