.cardsContainerHome {
    background-color: blueviolet;
    width: 98%;
    height: auto;
    margin: 0 auto;
} 
.containerCurrent {
    display: flex;
    justify-content: center;
    align-items: center;
}
.containerCurrent span {
    font-size: 26px;
    font-weight: 600;
    background-color: #FF8C00;
    width: 50%;
    text-align: center;
    border-radius: .6rem;
}
.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;

}

.containerPaginado {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

