.cardsContainerHome {
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} 
@media (min-width: 320px) {
    .cardsContainerHome {
        padding-top: 1rem;
    }
}
@media (min-width: 480px) {
    .cardsContainerHome {
        padding-top: 2rem;
    }
}
@media (min-width: 600px) {
    .cardsContainerHome {
        padding-top: 2rem;
    }
}
@media (min-width: 768px) {
    .cardsContainerHome {
        padding-top: 4rem;
    }
}
.containerCurrent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 45px;
}
.containerCurrent span {
    font-size: 26px;
    font-weight: 600;
    background-color: #FF8C00;
    width: 50%;
    text-align: center;
    border-radius: .6rem;
}
.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;

}

.containerPaginado {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

