.cardsContainerHome {
    width: 100%;
    height: auto;
    margin-top: 2rem;
    margin-bottom: -50px;
    padding-bottom: 2rem;
} 
@media (min-width: 768px) {
    .cardsContainerHome {
        margin-top: 0;
        padding-bottom: 4rem;
    }
}
.containerCurrent {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.containerCurrent span {
    background-color: #2F4F4F;
    color: #F5F5DC;
    width: 88%;
    height: auto;
    max-width: 500px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: .4rem;
}
@media (min-width: 320px) {
    .containerCurrent span {
        width: 76%;
    }
}
@media (min-width: 400px) {
    .containerCurrent span {
        width: 58%;
    }
}
@media (min-width: 480px) {
    .containerCurrent span {
        font-size: 20px;
        width: 50%;
    }
}
@media (min-width: 540px) {
    .containerCurrent span { 
        width: 55%;
    }
}
@media (min-width: 600px) {
    .containerCurrent span {
        width: 60%;
        font-size: 22px;
    }
}
 @media (min-width: 768px) {
    .containerCurrent span {
        font-size: 24px;
        width: 65%;
    }
} 

@media (min-width: 900px) {
    .containerCurrent span {
        font-size: 26px;
    }
}
.cardsContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 3rem;
    margin-top: 3rem;
}
.containerPaginado {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
@media (min-width: 768px) {
    .containerPaginado {
        margin-top: 4rem;
    }
}
