.containerForm {
    background-color: #F5F5DC;
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    margin: 0 auto;
    padding: 40px;
}

.title {
    color: #FFA500;
    font-size: 6rem;
    text-align: center;
}
.labelImputDiv {
    margin: 15px 0;
}

.submitHome {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.inputEnter {
    font-size: 18px;
    border-radius: 6px;
}

.spanText {
    font-size: 16px;
    color: #FFA500;
}

.genresText, .platformsText, .labelImputDiv {
    margin-top: 15px;
    margin-bottom: 15px;
}

.homeButton button, 
.submitButton {
    background-color: #FF8C00;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    height: 45px;
    width: auto;
}

.homeButton button:hover{
    transform: scale(1.1);
    background-color: #2F4F4F;     
    color: #FF8C00;
}

.submitButton:hover{
    transform: scale(1.1);
    background-color: #2F4F4F;     
    color: #FF8C00;
} 