.bigContainer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerDivsBoxShadow {
    background-color: #2F4F4F;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.containerDivs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: auto;
    padding: 20px;
}
.title {
    color:  #FF8C00;
}

.imageName{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: auto;
    margin-bottom: 30px;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
}

 
.desRelRat{
    background-color: #F5F5DC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: auto;
    padding: 30px;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
}

.genresPlatforms {
    background-color: #F5F5DC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: auto;
    padding: 30px;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
} 


.imageName img {
    width: 100%;
    height: auto;
}

h3 {
    color:  #FF8C00;
    font-weight: 900;
}
.Span {
    font-size: 16px;
    font-weight: 900;
}
.Span2 {
    font-size: 16px;
    font-weight: 900;
}

.genresPlatforms {
    padding: 30px 0;
}

.containerLink {
    margin-top: 20px;
}

.info {
    list-style: none;
    text-align: center;
    margin: 4px auto;
 }

 .homeButton button{
    background-color: #ffffff;
    color: #FF8C00;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    height: 45px;
    width: auto;
}

.homeButton button:hover{
    transform: scale(1.1);
    background-color: #2F4F4F;     
    color: #ffffff;
}

h3, h4 {
    margin: 3px;
}