.container {
    background-image: url("../../img/backgroundDetail.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    margin-bottom: -50px;
    padding-top: 15%;
}

.containerDivs {
    width: 95%;
    height: auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    padding: 2rem;
    border-radius: .6rem;
}

.imageName{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    box-shadow: 20px 20px 20px 0px rgba(0,0,0,0.75);
}
.imageName .img{
   width: 100%;
   height: 260px;
}
.containerInfo {
    background-color: #F5F5DC;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    color:  #FF8C00;
    margin-top: .5rem;
    margin-bottom: 0;
    
}
 
.desRelRat{
    background-color: #F5F5DC;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    box-shadow: 20px 20px 20px 0px rgba(0,0,0,0.75);
}
.parrafoDescription {
    font-size: 16px;
}
.containerGenresPlatforms {
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:  3rem;
}

.genres {
    background-color: #2F4F4F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: auto;
    padding: 30px;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
} 

.genres span {
    font-size: 16px;
    font-weight: 600;
    color: #F5F5DC
} 
.platforms span {
    font-size: 16px;
    font-weight: 600;
    color: #F5F5DC
} 
.platforms {
    /* background-color: #F5F5DC; */
    background-color: #2F4F4F;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: auto;
    padding: 30px;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
} 


.imageName img {
    width: 100%;
    height: auto;
}

h3 {
    color:  #FF8C00;
    font-weight: 900;
}

/* .containerLink {
    margin-top: 20px;
    text-align: center;
    padding: 2rem;
}

.info {
    list-style: none;
    text-align: center;
    margin: 4px auto;
 }

 .homeButton button{
    background-color: #ffffff;
    color: #FF8C00;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    height: 45px;
    width: auto;
}

.homeButton button:hover{
    transform: scale(1.1);
    background-color: #2F4F4F;     
    color: #ffffff;
}

h3, h4 {
    margin: 3px;
} */