.bigContainer {
    width: 100VW;
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerDivs {
    display: flex;
    justify-content:space-around;
    margin-top: 250px;
}

.imageName, 
.desRelRat,
.genresPlatforms {
    background-color: #F5F5DC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 28%;
    height: auto;
    padding: 30px;
}
.imageName img {
    width: 100%;
    height: auto;
}
.Span {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: 900;
    color:  #FF8C00;
}
.Span2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    font-weight: 900;
    color:  #FF8C00;
}

.genresPlatforms {
    padding: 30px 0;
}

.containerLink {
    margin-top: 20px;
}

.info {
    list-style: none;
    text-align: center;
    margin: 4px auto;
 }

 .homeButton button{
    background-color: #FF8C00;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    height: 45px;
    width: auto;
}

.homeButton button:hover{
    transform: scale(1.1);
    background-color: #2F4F4F;     
    color: #FF8C00;
}

h3, h4 {
    font-family: 'Courier New', Courier, monospace;
    margin: 3px;
}