.card {
    background-color: #FFFFFF;
    width: 230px;
    height: 370px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
    box-sizing: border-box;
}
@media (min-width: 768px) {
    .card {
        width: 250px;
        height: 440px;
    }
}
.card:hover {
    transform: scale(1.1);
    
}
img {
    width: 100%;
    height: 150px;
}
@media (min-width: 768px) {
    img {
        height: 200px;
    }
}
.containerDetail {
    width: 95%;
    height: 200px;
    background-color:  #F5F5DC;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
}
@media (min-width: 768px) {
    .containerDetail {
        height: 220px;
    }
}
.naRa {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.name {
    font-size: 1.4rem;
    font-weight: 600;
}
@media (min-width: 768px) {
    .name {
        font-size: 1.6rem;
    }
}
.naRa .rating {
    color: #FF8C00;
    font-size: 1.4rem;
 }
 @media (min-width: 768px) {
    .rating {
        font-size: 1.6rem;
    }
}
 .containerGenre {
    background-color: #FF8C00;
    width: 100%;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
 }

 .containerGenre span {
    font-size: 1.4rem;
 }
 @media (min-width: 768px) {
    span {
        font-size: 1.6rem;
    }
}
 .containerButtomSeeMore {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
 }

 .buttomSeeMore {
    font-size: 1.4rem;
    padding: 10px 20px;
    background-color: #2F4F4F;
    color: #F5F5DC; 
    cursor: pointer; 
    font-weight: 600;
    border: none;
    border-radius: 6px;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
    transition: all 800ms;
 }
 @media (min-width: 768px) {
    .buttomSeeMore {
        font-size: 1.6rem;
    }
 }
 .buttomSeeMore:hover {
    transform: scale(1.1);
    background-color: #FFFFFF;     
    color: #FF8C00;
}