.card {
    background-color: #FFFFFF;
    width: 250px;
    height: 440px;
    color: #000000;
    text-align: center;
}

.card img {
    width: 250px;
    height: 300px;
}

.rating {
    color: #FF8C00;
}
h3, h4 {
    font-family: 'Courier New', Courier, monospace;
    margin: 3px;
}