.container {
   width: fit-content;
   height: 38px;
   margin: 45px 0;
}

.aPaginate {
   background-color: #FFFFFF;
   color: #FF8C00;   
   font-family: 'Courier New', Courier, monospace;
   font-size: 28px;
   padding: 5px 10px;
   font-weight: 600;
   margin: 5px;
   border: none;
   border-radius: 6px;
   cursor: pointer;
   text-decoration: none;
}

.aPaginate:hover {   
   color: #ffffff;
   background-color: #2F4F4F;
   transform: scale(1.1);
 }