.container {
   width: fit-content;
   height: 250px;
}

.paginateButton {
   background-color: #FFFFFF;   
   font-family: 'Courier New', Courier, monospace;
   font-size: 28px;
   font-weight: 600;
   height: 40px;
   width: 40px;
   border: none;
   border-radius: 6px;
   margin: 150px 5px;
   cursor: pointer;
}

.paginateButton:hover {
   transform: scale(1.2);    
   color: #FF8C00;
   background-color: #F5F5DC;
 }