.containerHome {
    background-image: url("../../img/backgroundHome.webp");
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    height: auto;
}
.containerFiltersAndOrders {
    width: 98%;
    height: auto;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-top: 1rem;
}
@media (max-width: 768px) {
    .containerFiltersAndOrders {
       flex-direction: column;
       width: 100%;
       margin-top:0;
    }
}
.containerByNameReloadCreate {
    width: 33.33%;
    height: 0 auto; 
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}
@media (max-width: 768px) {
    .containerByNameReloadCreate {
       width: 100%;
       gap: 0rem;
    }
}
.containerReloadCreate{
    width: 100%;
    max-width: 500px;
    min-width: 250px;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 1.2rem;
    box-sizing: border-box;
}
.reload {
    background-color: #FF8C00;
    width: 100%;
    border: none;
    border-radius: .4rem;
    font-size: 14px;
    padding: 5px 15px;
    cursor: pointer;
    transition: all 800ms;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
 }
 @media (min-width: 480px) {
    .reload {
        font-size: 16px;
    }
}
@media (min-width: 600px) {
    .reload {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .reload {
        font-size: 20px;
    }
}
 .reload:hover {
    transform: scale(1.1);
    background-color: #2F4F4F;
    color: #FF8C00;    
 }
 .containerRatingAlfabetic {
    width: 33.33%;
    display: flex;
    flex-direction: column;
 }
 @media (max-width: 768px) {
    .containerRatingAlfabetic {
       width: 100%;
    }
}
 .containerGenreCreated {
    width: 33.33%;
    display: flex;
    flex-direction: column;
}
@media (max-width: 768px) {
    .containerGenreCreated {
       width: 100%;
    }
}