.containerHome {
    background-image: url("../../img/backgroundHome.webp");
    background-position: center;
    margin-bottom: -50px;
    background-attachment: fixed;
}
.containerFiltersAndOrders {
    width: 100%;
    height: auto;  
}
@media (min-width: 320px) {
    .containerFiltersAndOrders {
        width: 100%;
        margin: 0 auto;
        margin-top: 2rem;  
        margin-bottom: 2rem; 
    }
}
@media (min-width: 480px) {
    .containerFiltersAndOrders {
        width: 65%;
    }
}
@media (min-width: 600px) {
    .containerFiltersAndOrders {
        width: 55%;
    }
}
@media (min-width: 768px) { 
    .containerFiltersAndOrders {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (min-width: 1024px) { 
    .containerFiltersAndOrders {
        width: 75%;
        
    }
}
@media (min-width: 1200px) { 
    .containerFiltersAndOrders {
        width: 65%;
        
    }
}
.subContainer {
    width: 100%;
    display: flex;
}
.containerByNameReloadCreate {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
}
@media (min-width: 768px) {
    .containerByNameReloadCreate{
        gap: 5rem;
        margin-bottom: 1rem;
        gap: 2.2rem;
    }
}
@media (min-width: 1300px) {
    .containerByNameReloadCreate{
        gap: 2rem;
    }
}
.containerReloadCreate{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 2.6rem;
    gap: 1rem;
}
@media (min-width: 400px) {
    .containerReloadCreate{
        padding: 8px;
    }
}
@media (min-width: 480px) {
    .containerReloadCreate{
        gap: 8.5rem;
    }
}
@media (min-width: 600px) {
    .containerReloadCreate{
        width: 80%;
        gap: 9.5rem;
    }
}
@media (min-width: 650px) {
    .containerReloadCreate{
        width: 80%;
        
    }
}
@media (min-width: 700px) {
    .containerReloadCreate{
        gap: 10rem;
    
    }
}

@media (min-width: 800px) {
    .containerReloadCreate{
        gap: 6.8rem;
        
    }
}
@media (min-width: 900px) {
    .containerReloadCreate{
        gap: 8rem;
        width: 90%;
    }
}
@media (min-width: 1300px) {
    .containerReloadCreate{
        justify-content: space-between;
        width: 110%;

    }
}
.reload {
    background-color: #FF8C00;
    width: 100%;
    border: none;
    border-radius: .4rem;
    padding: 5px 50px;
    cursor: pointer;
    transition: all 800ms;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
 }
 @media (min-width: 480px) {
    .reload {
         width: 180%;
    }
} 
@media (min-width: 600px) {
    .reload {
         width: 178%;
    }
} 
@media (min-width: 768px) {
    .reload {
         width: 120%;
    }
}
@media (min-width: 900px) {
    .reload{
        width: 155%;
        position: relative;
        right: 1rem;
    }
} 
@media (min-width: 1024px) {
    .reload{
        width: 150%;
    }
}
@media (min-width: 1300px) {
    .reload {
        width: 220%;
        
    }
} 
 .create {
    background-color: #FF8C00;
    width: 100%;
    border: none;
    border-radius: .4rem;
    padding: 5px 16px;
    cursor: pointer;
    transition: all 800ms;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
 }
 @media (min-width: 480px) {
    .create{
        width: 92%;
        margin-right: 2.5rem;
    }
}
 @media (min-width: 600px) {
    .create {
        margin-right: 10px;
        
    }
} 
@media (min-width: 700px) {
    .create {
        position: relative;
        right: .8rem;
        width: 100%;
        
    }
} 
@media (min-width: 768px) {
    .create {
        width: 100%;
        margin-right: 22px;
        
    }
} 
@media (min-width: 900px) {
    .create {
        width: 125%;
        position: relative;
        right: 1.6rem;
        
    }
} 
@media (min-width: 1024px) {
    .create{
        width: 125%;
        position: relative;
        right: 1.8rem;
    }
} 
@media (min-width: 1300px) {
    .create {
        width: 110%;
        position: relative;
        right: 1.5rem;
        
    }
} 
 @media (min-width: 480px) {
    .create, .reload {
        font-size: 1.8rem;
        padding: 6px 12px;
    }
}
@media (min-width: 600px) {
    .create, .reload {
        font-size: 2rem;
        padding: 7px 14px;
    }
}
 .create:hover {
    transform: scale(1.1);
    background-color: #2F4F4F; 
    color: #FF8C00;    
 }
 .reload:hover {
    transform: scale(1.1);
    background-color: #2F4F4F;
    color: #FF8C00;    
 }
 .containerRatingAlfabetic {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
 }
 .rating {
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
 }
 @media (min-width: 1024px) { 
    .rating {
        width: 82%;
        
    }
}
 .Alpha {
    width: 96%;
    margin: 0 auto;
 }
 @media (min-width: 1024px) { 
    .Alpha {
        width: 90%;
        
    }
}
 .containerGenreCreated {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
 }

 .genres {
    width: 90%;
    margin: 0 auto;
 }
 @media (min-width: 1024px) { 
    .genres {
        width: 82%;
        
    }
}
.creatediv {
    width: 90%;
    margin: 0 auto;
 }
 @media (min-width: 1024px) { 
    .creatediv {
        width: 82%;
        
    }
}