html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1rem = 10px */
  }
  *, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
    overflow-x: hidden;
    margin: 0;
}
.containerLanding {
    background-image: url("../../img/Videogames-Pi-Landing.webp");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    margin-bottom: -50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
