body {
    margin: 0;
    background-image: url("../../img/Videogames-Pi-Landing.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    height: 100vh;
    width: 100vw;
}
.containerLanding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:  #FF8C00;
    font-size: 36px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    word-spacing: normal;
}

.container {
    display: flex; 
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top: 300px;
}

.buttonStart {
    background-color: #708090;
    color: #2F4F4F;
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    transition: background-color .5s;
    cursor: pointer;
}

.buttonStart:hover {
    transform: scale(1.1);
    background-color: #2F4F4F;     
    color: #FF8C00;
  }