.containerLanding {
    background-image: url("../../img/LandingPiVideogames.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: -8px;
    color:  #FFA500;
    font-size:  32px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    word-spacing: normal;
}

.buttonStart {
    background-color: #708090;
    color: #2F4F4F;
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    padding: 12px 24px;
    transition: background-color .5s;
    cursor: pointer;
}

.buttonStart:hover {
    transform: scale(1.1);
    background-color: #2F4F4F;     
    color: #FF8C00;
  }