.byNameButton,
.findAllButton{
    background-color: #F5F5DC;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    height: 42px;
    width: auto;
    margin: 0 5px;
}

.byNameButton:hover,
.findAllButton:hover{
    transform: scale(1.1);
    background-color: #2F4F4F;     
    color: #FF8C00;
}

.searchBarInput {
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid silver;
}