.searchBarBtn {
    background-color: #F5F5DC;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    padding:  8px 16px;
    border: none;
    border-radius: 8px;
    margin: 0 5px;
}

.searchBarInput {
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid silver;
}