.containerNavBar {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 1rem; 
    padding: 1.5rem;
}
@media (min-width: 768px) { 
    .containerNavBar {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        align-items: center;
        padding: 2.2rem;
    }
 }
.title {
    width: 100%;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
}
@media (min-width: 480px) {
    .title {
        font-size: 2.2rem;
    }
}
@media (min-width: 600px) {
    .title {
        font-size: 2.4rem;
    }
}
.containerContactAbout {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
@media (min-width: 768px) { 
    .containerContactAbout {
        flex-direction: row;
        justify-content: space-evenly;
    }
 }
.contac, .about {
    background-color: #FF8C00;
    border: none;
    border-radius: .4rem;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 800ms;
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
 }
 @media (min-width: 480px) {
    .contac, .about {
        font-size: 1.8rem;
        padding: 6px 12px;
    }
}
@media (min-width: 600px) {
    .contac, .about {
        font-size: 2rem;
        padding: 7px 14px;
    }
}
.contac:hover {
    transform: scale(1.1);
    background-color: #2F4F4F; 
    color: #FF8C00;    
 }
 .about:hover {
    transform: scale(1.1);
    background-color: #2F4F4F;
    color: #FF8C00;    
 }
