.containerNavBar {
    background-color: #FFFFFF;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 120px;
    width: 100%;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
};
